<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>patient-mvc</title>
<style>
    .img{
        background-image: url("https://t3.ftcdn.net/jpg/01/91/08/34/360_F_191083470_VtFAYAD2WjBIyvFk80Llr7sJ0hAFhCv3.jpg");
    }
</style>
</head>
<body class="d-flex flex-column min-vh-100">
<div layout:fragment="content1">
<div class="container p-5">
    <h1 class="text-center  fw-bold fst-italic text-danger " style="font-size:100px">403</h1></br>
    <h3 class="text-center ml-2">Vous n'êtes pas autorisés !</h3>
</div></div>
</body>
</html>